body {
  background-color: rgb(10, 10, 10);
  color: rgb(200, 200, 200);
  margin: 0px;
  padding: 0px;
}

.header {
  margin: 0px;
  padding: 2.5px;
  list-style: none;
  background-color: rgb(25, 25, 25);
  display: flex;
}

.header-content {
  font-size: 22px;
  margin: 0px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(24, 24, 24);
}

.header-link {
  text-decoration: none;
  color: rgb(200, 200, 200);
}

.page-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0px;
  padding: 0px;
}

.page-subtitle {
  text-align: center;
  font-size: 2em;
  margin-top: 0px;
  padding: 0px;
}
